@tailwind base;
@tailwind components;
@tailwind utilities;

.mySwiper {
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 2rem;
  overflow: hidden;
}

.swiper-scrollbar {
  background-color: transparent;
  height: 8px;
}

.swiper-scrollbar-drag {
  background-color: #4c51bf;
  border-radius: 4px;
}

.swiper-scrollbar-hide .swiper-scrollbar {
  opacity: 0;
}
